<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ggcs_main">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name=".UserData"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Button_game_setting"></activity>
        <activity android:name=".Toilet_training_setting" />
        <activity android:name=".Instruction_training_setting" />
        <activity android:name=".Meal_setting" />
        <activity android:name=".Button_game" />
        <activity android:name=".Instruction_training" />
        <activity android:name=".Setting" />
        <activity android:name=".History" />
        <activity android:name=".Info" />
        <activity android:name=".Face_call" />
        <activity android:name=".Monitoring" />
        <activity android:name=".Sign_in" />
        <activity android:name=".Training" />
        <activity android:name=".Home" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>